html {
    background-color: antiquewhite;
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    word-wrap: normal;
}
 ol li {
    list-style-type: none;
}
ul li {
  list-style-type: none;
}
.click {
    font-size: 32px;
    color: lightcoral;
}
a:visited{
    color: lightcoral;
  }
  img {
    height: 400px;
    width: auto;
  }