* {
    background-color: grey;
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    border: lightcyan 4px;
  }
title {
  display: none;
}
h1 {
  font-size: 400%;
}
.flex-container {
  display: flex;
  flex: auto;
  align-content: center;
  margin-left: 100px;
}
a:visited{
    color: lightcoral;
  }
img {
    height: 350px;
    width: auto;
    margin: 0px;
  }